body {
  background-color: #252525;
  margin: 0;
  padding: 0;
  min-width: 640px;
  min-height: 360px;
}


/*back ground video*/

.bv {
position: fixed;
top: 0%;
left: 0%;
min-width: 640px;
min-height: 360px;
width: 100%;
height: auto;
z-index: -100;
pointer-events: none;
background: none;
overflow: hidden;
background-position: center center;
background-size: cover;
}

/*video control css*/

.control {
  height: 60px;
  max-width: 10%;
  max-height: 5%;
  overflow: hidden;
  z-index: 10;
  background: #0000FF;
  display: block;
}

.play {
  height: 35px;
  position: absolute;
  z-index: 45;
}

.mute {
  max-height: 40px;
  max-width: auto;
  float: right;
  margin: 3% 0 0 0;


}
/*episode style*/

.ep1{
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  z-index: 0;
  visibility: hidden;
  display: none
}

/*menu style*/

input[type=checkbox] {
  border:0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: 0px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

[for="menutape"] {
   background: rgba(0,0,255,1);
    position: absolute;
    padding: 10px 0 10px 0;
    left: -140px;
    width: 140px;
}

[for="menutape"]:hover {
    background: rgba(0,0,255,1);
    color: rgb(0,0,255);
}

[for="menutape"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
    width: 100%;
}

input[type=checkbox]:checked ~ [for="menutape"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="menutape"] span:last-of-type {
    display: block;
    visibility: visible;
}
{
  


}

.menu {
  position: fixed;
  margin-top: 20%;
  margin-left: 99%;
}

.links{
  list-style-type: none;

}
.tp {
  min-height: 15px;
  min-width: auto;
  margin-left: 12.5%;
}

.ab {
    min-height: 30px;
}

.ep {
    min-height: 20px;
    min-width: auto;
}

.ct {
    min-height: 30px;
}


/*video control*/

.control{
  margin: 1%;
  overflow: hidden;

}

.hide1 {
  visibility: hidden;
  display: none;
}

.hide {
  visibility: hidden;
  display: none;
}

.blink {
  height: 35px;
  margin-top: 25%;
  margin-left: 40%;
  position: fixed;
  background-color: #0000ff;
  animation-name: blink;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
  -moz-animation:blink 1s step-start 0s infinite;
}

@-moz-keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.other ul {
  position: fixed;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  top: 96%;
  list-style: none;
  text-align: center;
  z-index: 20;
}

.other ul li{
  display: inline-block;
    margin: 0 2em 0 1em;
    padding: 0 2em 0 1em;
    z-index: 50;

}


.footer {
  height: 26px;
  top: 95%;
}
