body {
  background-color: #252525;
  margin: 0;
  padding: 0;
}


/*back ground video*/

.bv {
position: fixed;
top: 0%;
left: 0%;
min-width: 640px;
min-height: 360px;
width: 100%;
height: auto;
z-index: -100;
pointer-events: none;
background: none
}

/*video control css*/

.control {
  height: 60px;
  max-width: 10%;
  max-height: 5%;
  overflow: hidden;
  z-index: 10;
  background: #0000FF;
  display: block;
}

.play {
  height: 35px;
  position: absolute;
  z-index: 45;

}

/*episode style*/

.ep1{
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  z-index: 0;
   visibility: hidden;
}

/*menu style*/

.menu {
  float: right;
  position: relative;
  margin-top: 20%;
}

.links{
  list-style-type: none;

}
.tp {
  height: 60px;
}

.mm {
    height: 30px;
}

.ab {
    height: 20px;
}

.ep {
    height: 20px;
}

.ct {
    height: 20px;
}


/*video control*/

.control{
  margin: 1%;
  overflow: hidden;

}

.hide1 {
  visibility: hidden;
  display: none;
}

.hide {
  visibility: hidden;
  display: none;
}

.blink {
  height: 35px;
  margin-top: 25%;
  margin-left: 40%;
  position: absolute;
  background-color: #0000ff;
  animation-name: blink;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
  -moz-animation:blink 1s step-start 0s infinite;
}

@-moz-keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

